<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/solid.js"></script>
    <script src="/js/fontawesome.js"></script>
    <script src="/js/sa2.js"></script>
</head>
<header>
    <div class="container-fluid header text-white">
        <div class="row">
            <div class="col-auto" style="margin-right: 0px; padding-right: 0px;">
                <button id="menu" class="btn btn-dark">=</button>
            </div>

            <div class="col text-center">
                <div style="margin-top: 5px;">
                    <a href="/" style="cursor:pointer; color: #FFFFFF;"> UVG NoteBook</a>
                </div>
            </div>
        </div>
    </div>



    <div id="mySidenav" class="sidenav">

        <div id="menu">
            <a class="closebtn " id="menu_out"><i class="option fas fa-industry float-right"></i>Menu</a>
        </div>
        <a class="option_item" href="/"><i class="option fas fa-fire float-right"></i>Dashboard</a>
        <a class="option_item" href="/students"><i class="option fas fa-graduation-cap float-right"></i>Estudiantes</a>
        <a class="option_item" href="/clubs"><i class="option fas fa-id-card float-right"></i>Clubs</a>
        <a class="option_item" href="/"><i class="option fas fa-signal float-right"></i>Estadisticas</a>
        <a class="option_item" href="/"><i class="option fas fa-info float-right"></i>About</a>
    </div>



</header>

<body>